.container {
    max-width: 1000px;
    width: 100%;
    min-height: 600px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.green {
    background-color: green;
    width: 80%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.yellow1 div {
    min-height: 50px;
    background-color: yellow;
    margin: 3px;
    display: flex;
    flex-direction: row;
}

.yellow1 {
    display: flex;
    flex-direction: row;
    flex: 1;
}


.yellow2 div {
    min-height: 50px;
    background-color: yellow;
    margin: 3px;
}

.yellow1-1 {
    flex-basis: 74%;
}

.yellow1-2 {
    flex-basis: 24%;
}

.yellow2-1 {
    flex-basis: 24%;
}

.yellow2-2 {
    flex-basis: 74%;
}

.yellow2 {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.blue div {

    min-height: 50px;
    background-color: blue;
    margin: 3px;
    flex-basis: 50%;
}

.blue {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.pink {
    min-height: 50px;
    background-color: pink;
    margin: 3px;
    flex: 1;
}

@media (max-width: 650px) and (orientation: portrait) {

    .container {
        width: 100%;
        min-height: 600px;
        background-color: red;
        display: flex;
        justify-content: space-evenly;

    }

    .green {
        min-height: 500px;
        display: flex;
        flex-direction: column;
justify-content: space-evenly;
        flex-basis: 90%;
    }

    .yellow1 {
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
            }

    .yellow2 {
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
            }
    .blue {
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
            }
    .blue1{
        flex-basis: 90%;
    }

    .pink {
        min-height: 100px;
        background-color: pink;
        margin: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-grow: 1;
            }

}


@media (max-width: 650px) and (orientation: landscape) {

    .container {
        width: 100%;
        min-height: 600px;
        background-color: red;
        display: flex;
        justify-content: space-evenly;

    }

    .green {
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-basis: 90%;
    }

    .yellow1 {
        min-height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .yellow2 {
        min-height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .blue {
        min-height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .blue1{
        flex-basis: 90%;
    }

    .pink {
        min-height: 50px;
        background-color: pink;
        margin: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-grow: 1;
    }

}

